/* เปลี่ยนสีกรอบของ Input เมื่อเอาเมาส์ไปชี้ */
.ant-input:hover {
  border-color: #ffb340 !important;
  box-shadow: 0 0 5px rgba(255, 175, 64, 0.5) !important;
}

.ant-input:focus {
  border-color: #ffb340 !important;
  box-shadow: 0 0 5px rgba(255, 175, 64, 0.5) !important;
}

/* .ant-input:not(:placeholder-shown) {
  background-color: #fee9c4;
  border-color: #ffd28f !important;
} */

/* .roommanate-input .ant-input:not(:placeholder-shown) {
  border-color: #ffd28f !important;
} */

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffb340;
  border-color: #ffb340;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #fff;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: #ffb340;
  background-color: #ffb340;
}

.ant-checkbox-checked:hover .ant-checkbox-inner {
  background-color: #ffb340;
}

.ant-select-selector.ant-select-selector:focus {
  border-color: #ffb340 !important;
  box-shadow: 0 0 0 1px rgba(255, 175, 64, 0.5) !important;
}

.ant-select-selector:hover {
  border-color: #ffb340 !important;
  box-shadow: 0 0 0 1px rgba(255, 175, 64, 0.5) !important;
  /* background-color: #ffb3407e !important; */
}

/* .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #fee9c4;
  border-color: #ffd28f !important;
} */

.ant-picker:hover {
  border-color: #ffb340 !important;
  box-shadow: 0 0 0 1px rgba(255, 175, 64, 0.5) !important;
}

/* เปลี่ยนสีกรอบเมื่อ hover */
.ant-input-password:hover {
  border-color: #ffb340 !important;
  box-shadow: 0 0 0 1px rgba(255, 175, 64, 0.5) !important;
}
